<div *ngIf="this.authService.user && excelData.length" [ngClass]="excelView">
    <table class="table table-dark">
        <tr>
            <th scope="col">S.no</th>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Job Title</th>
            <th scope="col">Office address</th>
            <th scope="col">Mobile</th>
        </tr>
        <tr *ngFor="let data of excelData; let i=index" >
            <td >{{i+1}}</td>
            <td><code  (click)="change(i)">{{data[0]}}</code></td>
            <td><input type="text" value="{{data[2]}}" #box0 (keyup)="0">{{box0.value}}</td>
            <td >{{data[1]}}</td>
            <td><input type="text" value="{{data[2]}}" #box1 (keyup)="0">{{box1.value}}</td>
            <td>{{data[2]}}</td>
            <td><input type="text" value="{{data[2]}}" #box2 (keyup)="0">{{box2.value}}</td>
            <td>{{data[3]}}</td>
            <td><input type="text" value="{{data[2]}}" #box3 (keyup)="0">{{box3.value}}</td>
            <td>{{data[4]}}</td>
            <td><input type="text" value="{{data[2]}}" #box4 (keyup)="0">{{box4.value}}</td>
            <td>{{data[5]}}</td>
            <td><input type="text" value="{{data[2]}}" #box5 (keyup)="0">{{box5.value}}</td>
            <td><button class="btn btn-primary">Update</button></td>
        </tr>
    </table>
</div>
<div *ngIf="this.authService.user">
    <div class="card" style="width: 66rem;">
        <div class="card-body">
            <h5 class="card-title">Add User Data</h5>
            <p>Username - {{authService.user.displayName}}</p>
            <p>Email - {{authService.user.mail}}</p>
        </div>
    </div>
</div>


<div>
    <a class="btn btn-primary btn-large" role="button" (click)="getExcel()">Click here to get excel</a>
    <a class="btn btn-primary btn-large" role="button" (click)="postExcel()">Click here to Save to excel</a>
</div>